{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Search City</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-5">
                <div class="form-control">
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.city) }}
                        </div>
                        <div class="col-1">
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <small>{{ form_help(form.city) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-control">
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.street) }}
                        </div>
                        <div class="col-1">
                            {{ form_widget(form.street) }}
                        </div>
                    </div>
                    <small>{{ form_help(form.street) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.street) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-control">
                    <div class="row">
                        <div class="col-2">
                            {{ form_label(form.postcode) }}
                        </div>
                        <div class="col-1">
                            {{ form_widget(form.postcode) }}
                        </div>
                    </div>
                    <small>{{ form_help(form.postcode) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.postcode) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            {{ form_errors(form) }}
        </div>
        {{ form_end(form) }}
        <div class="my-5">
            {% if (showResults) %}
                {% if (cities|length > 0) %}
                    <div class="alert alert-success">
                        <h3>Results:</h3>
                        <ul>
                            {% for city in cities %}
                                <li>{{ city }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        -- No results --
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}